.listing {
  height: 100lvh;
  display: flex;
  flex-direction: column;
  &:nth-child(2) {
    height: 80%;
  }

  .pagination {
    display: flex;
    justify-content: right;
  }
}

::ng-deep body {
  overflow: hidden;
}