// pagination.component.scss
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;

  .label {
    margin-right: 10px;
    color: var(--neutralGray500)
  }

  button {
    cursor: pointer;
    background: none;
    border: none;
    img[disabled] {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}
