// pagination.component.scss
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;

  .label {
    margin-right: 10px;
  }

  button {
    cursor: pointer;
    background: none;
    border: none;
  }
}
