.outer-table {
  margin-top: 10px;
  border: 1px solid var(--neutralGray100);

  .thead {
    color: var(--neutralGray500);
    background-color: var(--neutralGray50);
    text-align: left;

    th {
      border: 1px solid var(--neutralGray100);
      padding: 8px;
    }
  }

  .flexed {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }

  .tbody {
    width: 100%;
    height: 600px;
    overflow-y: auto;
    .inner-table {
      td {
        padding: 8px 12px;
        color: var(--neutralGray500);
        border-top: 1px solid var(--neutralGray100);
      }
    }
  }
}