$primary-color: #326DF3;
$secondary-color: #5bc0de;

:root {
  --primaryColor: #{$primary-color};
  --secondaryColor: #{$secondary-color};
}

body, button, h1, h2, h3, h4, h5 {
  font-family: Hind !important;
}